<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
        <string>zh-Hant</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.5</string>
    <key>CFBundleVersion</key>
    <string>7</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Peibin. All rights reserved.</string>
    <key>CFBundleDisplayName</key>
    <string>粘易</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPasteboardAccessUsageDescription</key>
    <string>Paste History needs pasteboard access to record and restore your clipboard history.</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>粘易 needs accessibility access to return to the previous app and paste the selected content.</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUEnableDownloaderService</key>
    <true/>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://peibinliang.github.io/MacPasteHistory/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>EvuCjAjvsSwKgMzaT1yMI9suIYPkzxYNreHL1O++oYU=</string>
</dict>
</plist>
